body{
    background-color: #24353F;
}
.mainh4{
    color: #17A2B8;
    font-size: 40px;
}
#inp1::placeholder,#inp2::placeholder,#inp3::placeholder {
    color: white;
}
.form{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    background-color: #24353F;
    padding: 40px;
}